.banking_title {
    margin-top: 2em;
    font-size: 1.9em;
}

.banking_page {
    margin-top: 1em;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);

    padding: 1em;
}