:root {
  --backgroun-color: #f9fafb;
  --color-1: #c4b6f6;
  --color-2: #a089f0;
  --color-3: #8e72ed;
  --color-4: #7c5cea;

  --color-red: #ff6f6e;
  --color-blue: #4b6fff;

  --font-color: #111827;

  --input-border-color: #d1d5db;
  --border-radius: 4px;
  --main-width: 450px;
  --main-width-mobile: 360px;
  --default-top-margin: 25px;
}
